@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    font-family: "Roboto" ,sans-serif;
}
body{
    background-color: #30fff8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-container{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    text-align: left;
    background-color:white;
    height: 20rem;
    width:25rem;
    margin-top: 25vh;
    border-radius: 1rem;
    
}
ul{
    list-style: none;
    
}
.submit{
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 20%;
    left:0;
    border-radius: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
}
h2{
    margin-left: 2rem;
    margin-top: 0%;
}
.submit:hover{
    color: royalblue;
    
}
ul li{
    
    margin: 0.6rem;
}