@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,300&display=swap');
*{
    font-family: 'Roboto Mono', monospace;
}

.quiz-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    background-color: red;
    height: 50vh;
    width: 50vw;
    margin-top: 25vh;
    margin-left: 25%;
}
h2{
    margin-left: 2rem;
}